*{
    margin-top: 0px;
    margin-left: 0cm;
    margin-right: 0cm;
    margin-bottom: 0cm;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    display:flex;
    align-items:center;
    background:#111827;
    color:white;
    padding:10px 20px;
    gap: 5px;
}

.searchbox{
    flex:1;
    padding:5px;
}

.container{
    display:flex;
}

.sidebar{
    min-width:200px;
    height: 100vh;
    background:#161f32;
    color:white;
    display:flex;
    flex-direction:column;
    padding:20px;
    gap:20px;
}

.sidebar a:hover{
    color: blue;
    transition: ease 0.2s;

}

.logo{
    font-size: larger;
}

.link, .logo, .ad :hover{
    cursor: pointer;
}

#btn{
    background-color: #111827;
    color: white;
    text-align: center;
    font-size: 15px;
    margin-bottom: 3px;
    border: 1px solid #111827;
    cursor: pointer;
}

#btn:hover{
    color: blue;
    transition: ease 0.2s;
}

main{
    flex:1;
    background:white;
    padding:30px;
}

.white{
    display:flex;
    gap:20px;
    padding: 10px;
    margin-top: -10px;
}

#up{
    margin-bottom: 10px;
}

.card{
    flex:1;
    background:white;
    padding:10px;
    border-radius:10px;
    text-align:center;
    border: 1px solid black;
}

.blue-card:hover,.card:hover{
box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.blue-card{
    flex:1;
    background:blue;
    color:white;
    padding:10px;
    border-radius:10px;
    text-align:center;
}